# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/bazel-out

# dependencies
/node_modules

# profiling code
chrome-profiler-record.json

# IDEs and editors
/.idea
.project
.classpath
.cproject
/.vscode/*
!/.vscode/extensions.json
!/.vscode/launch.json
!/.vscode/tasks.json
!/.vscode/settings.json
*.launch
*.tmProj
*.tmp
*.bak
*.swp
*~
.DS_Store
Thumbs.db

# Angular
/.angular
